html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}
body{font-family:proxima-nova-1,proxima-nova-2,Helvetica Neue, Helvetica, Arial, sans-serif;-webkit-font-smoothing:subpixel-antialiased;font-size:82.5%;line-height:18px;overflow:auto;overflow-x:hidden;color:#414141;background:#eee;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{font-size:100%;vertical-align:baseline;background:transparent;color:#919191;text-decoration:none;outline:none;margin:0;padding:0;}
ins{background-color:#ff9;color:#000;text-decoration:none;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700;}
del{text-decoration:line-through;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}
input,select{vertical-align:middle;}
a:hover{color:#414141;}
ol,ul,li{list-style:none;list-style-type:none;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:1em;color:#414141;margin:0;padding:0;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#414141;text-decoration:none;}
h1{margin-top:-2px;font-weight:700;font-size:2em;line-height:36px;}
img{display:block;margin:0;padding:0;}
#header{width:100%;z-index:6000;background:#fff;}
#header-inner{padding:24px;height:40px;position:fixed;top:0;width:100%;background:#fff;margin-bottom:40px;z-index:1000}
#header-inner h1 a{text-transform:uppercase;color:#222;font-size:30px;font-family:proxima-nova-1,proxima-nova-1,Helvetica Neue;line-height:42px;}
#header-inner h1 a:hover{color:#000}
.logo{width: 300px; margin-bottom: 50px; margin-right: 24px;float:left;font-family:'Helvetica Neue', 'Helvetica', proxima-nova-1, proxima-nova-2;}
#footer{padding:24px}
.left{float:left;}
.right{float:right;}
.clear{clear:both;line-height:0;font-size:0;height:0;}
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
form,input,textarea,select,option{color:#919191;line-height:18px;}
.sub-menu{margin-left:10px;}
.current-menu-item a{color:#aaa;}
.menu{-moz-box-shadow:0 0 3px rgba(0,0,0,0.2);-webkit-box-shadow:0 0 3px rgba(0,0,0,0.2);box-shadow:0 0 3px rgba(0,0,0,0.2);min-width:140px;background:#fff;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;position:absolute;z-index:8000;cursor:pointer;}
.menu:hover{box-shadow:0 0 3px rgba(0,0,0,0.9);}
.menu-wrap{float:left;width:140px;margin-right:12px;height:34px}
.menu-inner{padding:10px 50px 10px 13px;font-size:100%;color:#575E62; margin-right: 10px;font-weight:700;font-family:'Helvetica Neue', 'Helvetica', Arial;background-size:20px}
#seed-menu .menu-inner{background:url('/images/work.png') no-repeat right;}
#user-menu .menu-inner{background:url('/images/about.png') no-repeat right; color:#fff}
#about-menu .menu-inner{background:url('/images/about.png') no-repeat right;}
#user-menu .menu-drop a:hover{color:#fff;}
#user-menu .menu{background:#222}
.menu-drop{display:none;padding:6px 6px 6px 13px;}
.menu-drop a{margin-bottom:5px;display:block;}
.menu-drop a:last{margin-bottom:none}
h2,h2 a,h3,h3 a,.bold{font-weight:700;}
#wrap,#footer{width:100%;}
input,textarea,select,option{font-size:2em;color:#000;margin:0;font-family:proxima-nova-1,proxima-nova-2}
#contact-menu{position:relative;float:left;font-family:proxima-nova-1,proxima-nova-2}
#contact-button{width:90px;display:inline-block;float:right;position:relative;z-index:30;font-size:100%;background:#222 url(/images/contactw.png) no-repeat 90%;background-size:22px;cursor:pointer;-moz-border-radius:5px;-webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px;padding:10px 50px 10px 13px;}
#contact-button span{color:#fff;font-weight:700;display:block;}
#contact-button:hover{background:#000 url(/images/contactw.png) no-repeat 90%;background-size:22px;}
#contact-box{position:absolute;top:34px;left:0;display:none;z-index:29;}
#contact-button.active{border-radius:5px 5px 0 0;}
#contact-button.active em{position:absolute;width:100%;height:1px;background:#222;bottom:-1px;}
#contact{width:448px;border-radius:0 5px 5px 5px;-moz-border-radius:0 5px 5px;margin-top:-1px;background:#222;padding:6px;}
#contact fieldset{display:block;border:0;margin:0 0 12px;padding:0;}
fieldset#body{background:#fff;border-radius:3px;-moz-border-radius:3px;margin:0;padding:13px;}
#contact #checkbox{width:auto;float:left;border:0;margin:-3px 9px 0 0;padding:0;}
#contact input,#contact textarea{width:96%;border:1px solid #899caa;border-radius:3px;-moz-border-radius:3px;box-shadow:inset 0 1px 3px #bbb;-webkit-box-shadow:inset 0 1px 3px #bbb;-moz-box-shadow:inset 0 1px 3px #bbb;font-size:14px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease;color:#777;padding:8px;}
#contact input:focus, #contact textarea:focus{border:1px solid #7ce59a;box-shadow:0 0 6px #abdcff, inset 0 1px 2px rgba(0,0,0,0.08);}
#contact #contact-submit,.button {
    cursor:pointer;
    background: #7ce59a; /* Old browsers */
    background: -moz-linear-gradient(top, #7ce59a 0%, #3bc261 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ce59a), color-stop(100%,#3bc261)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7ce59a 0%,#3bc261 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7ce59a 0%,#3bc261 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #7ce59a 0%,#3bc261 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7CE59A', endColorstr='#3BC261',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #7ce59a 0%,#3bc261 100%); /* W3C */
    border:1px solid #5ca64c;
    border-bottom-color:#318123;
    text-shadow:0 -1px 0px #1cc132;
    color:#fff;
    width:100%;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
#contact #contact-submit:hover,.button:hover{
    background: #99f0b2; /* Old browsers */
    background: -moz-linear-gradient(top, #99f0b2 0%, #3ac160 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99f0b2), color-stop(100%,#3ac160)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #99f0b2 0%,#3ac160 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #99f0b2 0%,#3ac160 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #99f0b2 0%,#3ac160 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99F0B2', endColorstr='#3AC160',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #99f0b2 0%,#3ac160 100%); /* W3C */
}
#contact span{text-align:center;display:block;padding:7px 0 4px;}
#contact span a{color:#fff;font-size:12px;}
input:focus,textarea:focus{outline:none;}
form p{position:relative;}
label{position:absolute;top:0;left:0;}
.tags{padding: 0 0 0 23px;background:url('/images/tags.png') no-repeat;line-height:15px !important;color:#a5a5a5;margin-top:5px}
.arrows{position:absolute;bottom:0;right:0;}
.arrows a{cursor:pointer}
div.transition {
  -moz-transition: all 1s cubic-bezier(0.59, 0, 0, 1);
  -webkit-transition: all 1s cubic-bezier(0.59, 0, 0, 1);
  -o-transition: all 1s cubic-bezier(0.59, 0, 0, 1);
  transition: all 1s cubic-bezier(0.59, 0, 0, 1);
  -webkit-backface-visibility: hidden;
}

#main{position:relative;}
.pages{position:absolute;width:100%;margin-top:60px;}
.page {margin-bottom:50px;margin-top:60px;margin-left:26px;}
.page .description {height:522px;background:#eee;width:260px;padding-right:8px;float:left; position:relative;display:block;}
.page .description p {margin-bottom:23px;margin-top:10px; font-size: 14px;line-height:23px;line-height:23px;}
p a {font-style:normal;color:#777;}
div.description h3 {font-family:'Helvetica Neue', Helvetica, proxima-nova-1,proxima-nova-2,Arial;font-size:1.6em;line-height:22px;width:72%;color:#222;position:relative;}
div.description h3 a{font-size:0.7em;font-weight:normal;color:#777;font-family:proxima-nova-1,proxima-nova-2}
div.description h3 a:hover{color:#222}
.scrollable {z-index: 1; position: relative; width:100%; height:510px; overflow:hidden; }
.scrollable .items{margin-left:275px;width: 20000em; position: absolute; clear: both; }
.scrollable .items div {float: left; height:503px; padding:0; margin:0px; text-align:center; }
.scrollable .items div img {height: 503px;margin-top:5px; margin-right: 20px;cursor:pointer;}
.scrollable .items div img{
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,.35);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,.35);
  box-shadow: 0px 1px 3px rgba(0,0,0,.35);
  border-radius: 3px;
}
#message{font-family:proxima-nova-1,proxima-nova-2;margin-bottom:10px;}
.arrows{margin-right:10px;}
.prev,.next{background:url('/images/right.png') no-repeat;width:20px;height:18px;display:block;float:left;margin-left:5px;opacity:0.8}
.prev:hover,.next:hover{opacity:1}
.prev{background:url('/images/left.png')}
.disabled{opacity:0.3}
.disabled:hover{opacity:0.5;}
.keyboard{background:#fdf400 url(/images/keyboard.png) no-repeat 0 0; width:190px;height:54px;position:fixed;bottom:60px;right:6%;z-index:1000;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;opacity:0.9}
