@import "base/helpers"
@import "compass/css3"

nav#sidebar-wrapper
  background-color: $sidebar-bg-color
  width: $sidebar-width
  position: fixed
  padding: 0
  z-index: 100
  height: 100%
  float: left
  border-right: 1px solid $sidebar-line-color

  #sidebar
    position: fixed
    border: 0
    width: $sidebar-width

    #backdrop
      background: #fff url('/images/logo.png') no-repeat 50% 50%
      display: block
      height: 105px
      border-bottom: 1px solid $sidebar-line-color
      
      a#logo
        padding: 0px 0px 10px 19px
        margin-top: 40px
        font-weight: bold
        font-size: 2em
        text-transform: uppercase
        position: absolute
    
    nav#primary
      border-top: 1px solid #fff

      li
        border-top: 1px solid #fff

        a
          border-bottom: 1px solid $sidebar-line-color
          text-transform: uppercase
          font-weight: bold
          font-size: 1.1em
          color: #4b4b4b
          display: block
          padding: 5px 15px
          padding-left: 42px
          @include text-shadow(#fff 0 2px 0) 

          &.blog
            background: url('/images/blog.png') no-repeat $sidebar-icon-x $sidebar-icon-y
            &:hover
              background: url('/images/blog_red.png') no-repeat $sidebar-icon-x $sidebar-icon-y

          &.projects
            background: url('/images/projects.png') no-repeat $sidebar-icon-x $sidebar-icon-y
            &:hover
              background: url('/images/projects_red.png') no-repeat $sidebar-icon-x $sidebar-icon-y

          &.portfolio
            background: url('/images/portfolio.png') no-repeat $sidebar-icon-x $sidebar-icon-y
            &:hover
              background: url('/images/portfolio_red.png') no-repeat $sidebar-icon-x $sidebar-icon-y

          &.activity
            background: url('/images/activity.png') no-repeat $sidebar-icon-x $sidebar-icon-y
            &:hover
              background: url('/images/activity_red.png') no-repeat $sidebar-icon-x $sidebar-icon-y

          &:hover
            color: #da4848

        &:first-child
          border-top: none

    $start: #eee
    $stop: #ddd
    $end: #bbb
    nav#secondary
      ul
        padding: 18px 12px
        padding-bottom: 17px
        border-bottom: 1px solid $sidebar-line-color
        border-top: 1px solid #fff
        li
          a
            text-decoration: none
            text-transform: lowercase
            cursor: pointer
            padding: 0px 17px
            -webkit-appearance: none
            font-size: 1em
            font-weight: 600
            color: #555
            height: 23px
            line-height: 23px
            text-transform: uppercase
            @include shade($start, $stop, $end)
            @include border-radius(3px)
            @include text-shadow(#fff 0px 1px 0px)
            border-top: 1px solid #fff
            &:hover
              color: #666
            &:active
              background-repeat: repeat-x
              background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $end), color-stop(100%, $stop))
              background-image: -webkit-linear-gradient($end, $stop)
              background-image: -moz-linear-gradient($end, $stop)
              background-image: -ms-linear-gradient($end, $stop)
              background-image: -o-linear-gradient($end, $stop)
              background-image: linear-gradient($end, $stop)
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$end', endColorstr='$stop', GradientType=0)
              text-shadow: 0 1px 1px #fff
              -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 1px white, transparent 0 0 0, transparent 0 0 0
              -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 1px white, transparent 0 0 0, transparent 0 0 0
              box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 1px rgba(0, 0, 0, 0.3), 0 1px 1px white, transparent 0 0 0, transparent 0 0 0            
              border-top: 1px solid #fff
              color: #000
            &.about
              float: left
              margin-bottom: 10px
              margin-right: 2px
            &.email
              float: right
            &.lfw
              padding: 0px
              width: 99%
              text-align: center
              float: left
              //color: #fff
              //border: 1px solid #be3535
              //@include shade(#ea5f5f, #b80000)
              //@include text-shadow(#000 0px -1px 0px)

    nav#social
      ul
        padding-top: 12px
        padding-left: 13px
        border-bottom: 1px solid $sidebar-line-color
        border-top: 1px solid #fff
        height: 43px
        li
          float: left
          margin-right: 3px
          a
            display: block
            width: 30px
            height: 30px
            text-indent: -9999px
            &.github
              background: url('/images/github.png') no-repeat
            &.twitter
              background: url('/images/twitter.png') no-repeat
            &.facebook
              background: url('/images/facebook.png') no-repeat
            &.dribbble
              background: url('/images/dribbble.png') no-repeat
            &.rss
              background: url('/images/rss.png') no-repeat
