.line {
  padding: 2em 2em 0 2em;
  &:first-child { padding-top: 1em; padding-bottom: 1em }
}
div.line + div.line {
  background: $img-border top left repeat-x;
} 

.me {
  background-image: image-url('me.jpeg');
  background-size: contain;
  border-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 0 2px rgba(0, 0, 0, .1), 0 2px 5px rgba(0, 0, 0, .2);
  margin-top: -9px;
  float: left;
  width: 90px;
  height: 90px;
  overflow: hidden;
  text-indent: -9999px;
  margin-right: 20px;
} 

#diagram { 
  float: right; 
  text { 
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-size: 0.5em !important;
  } 
}

.technology {
  float: left;
  width: 340px;
  em { font-style: normal; font-weight: bold; }
}
