article {
  padding-top: 1em;
  a { @extend .force-wrap; }
  header {
    position: relative;
    padding-top: 2em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    background: $img-border bottom left repeat-x;
    h1 {
      margin: 0;
      a { text-decoration: none; }
    }
    p {
      font-size: .9em;
      color: $text-color-light;
      margin: 0;
      &.meta {
        @extend .sans;
        text-transform: uppercase;
      }
    }

    div {
     &.meta {
        color: $text-color-light;
        @extend .sans;
        text-transform: uppercase;
        time { float: left; margin-right: 5px }
      } 
    }
      
    @media only screen and (min-width: 768px) {
      margin-bottom: 1.5em;
      padding-bottom: 1em;
      background: $img-border bottom left repeat-x;
    }
  }
  .post-icon {
    margin-top: 8px;
    opacity: 0.2;
    li {
      list-style-type: none;
      margin-left: 9px;
      width: 16px; 
      height: 16px; 
      float: left;
      text-indent: -9999px;
      margin-top: -2px;
    }
  } 
  h2 {
    padding-top: 0.8em;
    background: $img-border top left repeat-x;
  }
  .entry-content & h2:first-child, header + h2 { padding-top: 0; }
  h2:first-child, header + h2 { background: none; }
  .feature {
    padding-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    background: $img-border bottom left repeat-x;
    font-size: 2.0em; font-style: italic;
    line-height: 1.3em;
  }
  img, video, .flash-video {
    @extend .flex-content;
    @extend .basic-alignment;
    @include shadow-box;
  }
  video, .flash-video { margin: 0 auto 1.5em; }
  video { display: block; width: 100%; }
  .flash-video {
    > div {
      position: relative;
      display: block;
      padding-bottom: 56.25%;
      padding-top: 1px;
      height: 0;
      overflow: hidden;
      iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  > footer {
    margin-top: 2em;
    @extend .sans;
    p.meta {
      margin-bottom: .8em;
      font-size: .85em;
      clear: both;
      overflow: hidden;
    }
    .byline + time:before, time +time:before, .comments:before, .byline ~ .categories:before {
      @extend .separator;
    }
  }

}
article + article {
  .blog-index & {
    background: $img-border top left repeat-x;
  }
}
div.line + div.line {
  padding: 2em 2em 0 2em;
  background: $img-border top left repeat-x;
  clear: both;
}
.posts { height: 40px; padding-top: 0; background: image-url('blank.png') !important;}
#next, #prev { 
  font-family: proxima-nova-1;
  position: absolute;
  margin-top: -10px;
}
#next { right:2em;background: image-url('arrows.png') no-repeat 100% -15px; padding-right: 2em; }
#prev { left:2em;background: image-url('arrows.png') no-repeat 0 9px; padding-left: 1em; }
#content .blog-index {
  padding: { top: 0; bottom: 0; }
  article { 
    padding-top: 2em;
    padding-bottom: 2em;
  }
  article header { padding-top: 0; background: none; padding-bottom: 0; }
  article h1 {
    font-size: 2.2em;
    clear: both;
    a { color: inherit; &:hover { color: $link-color-hover; } }
  }
  a[rel=full-article] {
    display: inline-block;
    padding: 3px 6px;
    margin-right: .5em;
    text-decoration: none;
    color: mix($text-color, $text-color-light);
    background: image-url('next2.png') no-repeat 98% 11px;
    @extend .sans;
    padding-right: 20px;
    @include transition(all 0.3s linear);
    @include opacity(0.7);
    float: right;
    &:hover {
      @include opacity(1);
    }
  }
  footer {
    @extend .sans;
    margin-top: 2em;
  }
}

.separator {
  content: "\2022 ";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}

#content div.pagination {
  text-align: center;
  font-size: .95em;
  position: relative;
  background: $img-border top left repeat-x;
  padding: {top: 1.5em; bottom: 1.5em;}
  a {
    text-decoration: none;
    color: $text-color-light;
    &.prev { position: absolute; left: 0; }
    &.next { position: absolute; right: 0; }
    &:hover { color: $link-color-hover; }
    &[href*=archive] {
      &:before, &:after { content: '\2014'; padding: 0 .3em; }
    }
  }
}
article[role="article"] { 
  header {
    padding-top: 0 !important;
  }
}
.post .line { padding-left: 45px; padding-right: 45px; }
.dropbox { float: left; text-indent: -9999px; position: relative; margin: 20px 30px 3px 20px; background: image-url('dropbox.png') no-repeat; height: 43px; width: 42px; } 
.bash { font-family: proxima-nova-1; background: #F1F1F1 $noise-bg !important; color: #586E75 !important; padding: 3px 6px; @include box-shadow(rgba(0, 0, 0, 0.06) 0 0 10px); border: 1px solid #ECECEC !important}
h4 { display: none !important; }
