/* Sort screens ----------- */
	
	#top-title-bar{display:none;}
	#top-title-bar-sdevice{display:block;padding:5px 0 5px 0;}
	#thumb-wrapper{margin-top:30px;}
	
	/**********NAV LIGHT**************/
	#main-nav{font-size:1em;*font-size:1.2em;width:235px;}
	#main-nav #tab-nav{display:block;position:absolute;right:-34px;top:46%;width:46px;height:85px;}
	#main-nav #nav-menu{position:relative;width:170px;height:100%;padding:0 10px 0 20px;}
	#main-nav #nav-menu h4.nav-section{font-size:.75em;}
	#main-nav #nav-menu #nav-options h4.section{font-size:1.1em;}
	#main-nav #nav-menu #main-logo{padding-bottom:15px;width:141px;}
	nav#main-nav #nav-options{position:absolute;height:250px;}
	nav#main-nav #social-wrapper{position:relative;width:220px;margin:50px 0 50px -5px;padding:0;}
	nav#main-nav #social-wrapper ul#network-menu{position:relative;margin:0;padding:0;}
	nav#main-nav ul#network-menu li a{display:block;line-height:20px;float:left;margin-right:10px;color:#000;border-top:0px solid #ffea00;text-decoration:none;-moz-transition: all .2s; -webkit-transition: all .2s;-o-transition: all .2s;transition: all .2;}
	
	nav#main-nav #nav-options #filters{position:absolute;display:none;width:87%;margin-top:0;}
	nav#main-nav #nav-options ul{display:block;margin-bottom:15%;width:183px;}
	nav#main-nav #nav-options ul li{display:block;padding:0px;}
	nav#main-nav #nav-options ul li a{
		display:inline;
		-moz-transition: all .7s; 
		-webkit-transition: all .7s; 
		-o-transition: all .7s; 
		transition: all .7s;
		width:110%;
		background:transparent;
		font-size: 1.45em;
		*font-size: 1.2em;
		font-style: italic;
		font-weight:100;
		font-weight:300\9;
		line-height: .95em;
		color:#313131;
		display:block;
		text-decoration:none;
		padding-left:10px;
	}
	nav#main-nav #nav-options ul li a:hover{
	-moz-transition: all 0.2s; 
	-webkit-transition: all 0.2s; 
	-o-transition: all 0.2s; 
	transition: all 0.2s;
	background:#ffea00;
	color:#000;
	width:75%;
	padding-left:20px;
	}
nav#main-nav #nav-options ul li.active{padding-left:0px;}
		
	nav#main-nav #nav-options span a.btn-back-sections{display:block;font-size:.7em;font-style:italic;text-transform:italic;color:#1d1d1d;width:100px;margin:-240px 0 0 10px;text-decoration:none;}
	
	nav#main-nav #nav-options ul li #filters-launcher{display:block;}
	nav#main-nav .close-sub{display:block;}
	nav#main-nav p#copyright{font-size:.56em;color:#989898;padding-left:15px;top:97%}
	
	/****SECTIONS****/
	.section-wrapper{font-size:.6em;left:10%;top:10%;}
	.section-wrapper .breadcrumbs{font-size:.9em;}
	h2{line-height:1.8em;width:530px;margin-bottom:25px;}
	
	/****ABOUT****/
	#about .section-wrapper{width:550px;}
	#about div.section-wrapper div.section-content p{font-size:1em;width:300px;}
	#about .section-wrapper figure{width:10%;margin-left:-165px;}
	#about .section-wrapper img{width:200px;height:186px;}
	
	/****NEWS****/
	#news .section-wrapper ul{width:280px;float:left;margin-right:75px;}
	#news .section-wrapper ul li{font-size:1em;line-height:1.6em;}
	#news .section-wrapper ul li h2{font-size:1.7em;}
	#news .section-wrapper ul li small{margin:15px 0 10px 0;}
	#news .section-wrapper ul li a{font-size:.9em;}
	#news #wdgt-twitter .jta-tweet-list{margin-top:13px;}
	
	/****DRIBBBLE****/
	#mydribbble h2{line-height:1.4em;margin:20px 0 20px 0;width:400px;}
	#mydribbble #mydribbble-stats{font-size:.9em;font-style:italic;}
	#mydribbble #mydribbble-drafts{position:absolute;left:500px;margin:-14px 0 0 -80px;z-index:1000;}
	#mydribbble #mydribbble-drafts .plus-following{display:block;padding:0px 4px 0px 4px;font-size:1em;background:#ffea00;color:#000;}
	#mydribbble #mydribbble-drafts ul{display:none;padding-top:15px;}
	#mydribbble #mydribbble-drafts ul li a{display:inline;background:#000;color:#ffea00;font-size:1.3em;line-height:2.2em;padding:5px;}
	#mydribbble ul.shots{width:210px;margin-top:20px;}
	#mydribbble ul.shots li{width:210px;float:left;margin-right:0px;}
	#mydribbble ul.shots li h3{font-size:1.3em;}
	#mydribbble ul.shots li a.in-shot{display:block;width:180px;height:135px;border:5px solid #FFF;overflow:hidden;}
	#mydribbble ul.shots li #date-shot{color:#808080;font-size:.75em;text-align:center;margin-top:10px;text-transform:uppercase;}
	#mydribbble #mydribbble-shots ul li img{width:180px;height:135px;}
	
	#mydribbble #slide-navigation{position:absolute;right:350px;margin-top:-65px;}
	#mydribbble .btn-next, .btn-prev{position:relative;opacity:.6;font-family:'Terminal Dosis Light', 'Raleway', 'Maven Pro', Helvetica, arial, sans;font-size:2em;text-decoration:none;color:#313131;margin-right:15px;-moz-transition: all .3s;-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
	#mydribbble .btn-next:hover, .btn-prev:hover{opacity:1;-moz-transition: all .3s;-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
	
	/******CONTACT******/
	#contact h2{width:450px;};
	#contact ul{width:150px;}
	#contact ul li{font-size:1em;}
	#contact ul li:last-child{font-size:1.1em;}
	div.contact-form{width:260px;height:279px;margin-left:-110px;}
	div.contact-form form input,textarea{width:210px;}
	div.contact-form form input.form-submit{margin:30px 0 0 150px;width:80px;height:30px;line-height:1em;}
	div.contact-form div.error {position:absolute;font-size:.8em;margin:-20px 0 0 110px;color:#d1d1d1; }
	div.contact-form #success{text-align:center;margin-top:45%;}
	div.contact-form form input:focus {background-color:#F8E6A9;}
	
	/****DEFAULT GALLERY WORK****/
	#work-detail-wrapper .item-wrapper .item .info-work{height:320px;top:95%;padding:20px 0 0 45px;}
	#work-detail-wrapper .item-wrapper .item div#divThumbs{height:80px;top:-105%;}
	#work-gal{font-size:.64em;}
	#work-gal p{line-height:1.5em;width:320px;margin:10px 35px 0 0;}
	#work-gal p a{text-decoration:none;text-transform:uppercase;font-size:.9em;padding:2px;color:#ffea00;-moz-transition: all .3s;-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
	#work-gal h3{line-height:2em;}
	#work-gal .info-extended{display:none;}
	#work-gal #pagination{margin-left:30px;}
	
	/****DEFAULT GALLERY FOR PHOTOGRAPHERS****/
	body #work-detail-wrapper #work-gal-photo h3{font-size:1.5em;}
	body #work-detail-wrapper #work-gal-photo p{font-size:.85em;line-height:1.8em;width:400px;margin-top:10px;}
	
@media only screen 
and (min-width : 450px) and (max-width : 840px) {
.skin-01 #main-nav #logo{background:url(../images/skins-items/logo-iceberg-folio-two-orange-small.png) no-repeat;}
.skin-01 #main-nav #tab-nav img{background:url(../images/skins-items/tab-nav-orange.png) no-repeat;}
.skin-02 #main-nav #logo{background:url(../images/skins-items/logo-iceberg-folio-two-red-small.png) no-repeat;}
.skin-02 #main-nav #tab-nav img{background:url(../images/skins-items/tab-nav-red.png) no-repeat;}
.skin-02 nav#main-nav #nav-options ul li a{color:#8e8e8e;}
.skin-03 #main-nav #logo{background:url(../images/skins-items/logo-iceberg-folio-two-blue-small.png) no-repeat;}
.skin-03 #main-nav #tab-nav img{background:url(../images/skins-items/tab-nav-blue.png) no-repeat;}
.skin-04 #main-nav #logo{background:url(../images/skins-items/logo-iceberg-folio-two-green-small.png) no-repeat;}
.skin-04 #main-nav #tab-nav img{background:url(../images/skins-items/tab-nav-green.png) no-repeat;}
.skin-04 nav#main-nav #nav-options ul li a{color:#8e8e8e;}
.skin-05 nav#main-nav #nav-options ul li a{color:#8e8e8e;}

	}

/* iPad (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
#main-nav{font-size:.9em;width:0px;}
#main-nav #nav-menu{position:relative;width:0px;height:100%;padding:0 10px 0 20px;}
#top-title-bar{display:none;}
#top-title-bar-sdevice{display:block;padding:5px 0 5px 0;}

nav#main-nav #nav-options{position:absolute;height:250px;}
nav#main-nav #social-wrapper{position:relative;width:120px;margin:50px 0 50px -5px;padding:0;}
nav#main-nav #social-wrapper ul#network-menu{position:relative;margin:0;padding:0;}
nav#main-nav ul#network-menu li a{display:block;line-height:20px;float:left;margin-right:10px;color:#000;border-top:0px solid #ffea00;text-decoration:none;-moz-transition: all .2s; -webkit-transition: all .2s;-o-transition: all .2s;transition: all .2;}
	
#thumb-wrapper{margin-top:30px;}
#main-nav{width:250px;position:absolute;}
#main-nav #tab-nav{display:block;position:absolute;right:-34px;top:46%;width:46px;height:85px;}
#main-nav #tab-nav img{}
.thumb{width: 150px;/*Set default width*/}
body div#stylr{display:none;visibility:hidden;opacity:0;}
#work-gal .info-extended{display:none;}
	}

/* iPad (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
#top-title-bar{display:none;}
#top-title-bar-sdevice{display:block;padding:5px 0 5px 0;}
#thumb-wrapper{margin-top:30px;}
/**********NAV**************/
nav#main-nav #nav-options #filters{position:relative;display:block;margin-top:10%;}
nav#main-nav #nav-options #sections{position:relative;display:block;}

nav#main-nav #nav-options{position:absolute;height:400px;bottom:7%;}

#main-nav #nav-menu #main-logo{display:block;text-indent:-9999px;background:url(../images/logo-break.png) no-repeat;height:30px;margin-left:5px;padding:0;}
nav#main-nav #nav-options ul{display:block;margin-bottom:15%;width:225px;}
nav#main-nav #nav-options ul li{display:block;padding:0 0 0 0px;}
nav#main-nav #nav-options ul li a{
	display:inline;
	-moz-transition: all .7s; 
	-webkit-transition: all .7s; 
	-o-transition: all .7s; 
	transition: all .7s;
	width:90%;
	background:transparent;
    font-size: 1.45em;
    #font-size: .7em;
    font-style: italic;
	font-weight:100;
	font-weight:300\9;
    line-height: .95em;
	color:#313131;
	display:block;
	text-decoration:none;
	padding-left:10px;
	}
nav#main-nav #nav-options ul li.active, nav#main-nav #nav-options ul li a:hover{
	-moz-transition: all 0.2s; 
	-webkit-transition: all 0.2s; 
	-o-transition: all 0.2s; 
	transition: all 0.2s;
	background:#ffea00;
	color:#000;
	width:87%;
	padding-left:10px;
	}
nav#main-nav #social-wrapper{position:relative;height:30px;margin:50px 0 50px -5px;padding:0;}
nav#main-nav #social-wrapper ul#network-menu{position:relative;width:250px;margin:0;padding:0;}
nav#main-nav ul#network-menu li a{display:block;height:23px;font-style:italic;float:left;margin-right:10px;color:#000;border-top:0px solid #ffea00;text-decoration:none;-moz-transition: all .2s; -webkit-transition: all .2s;-o-transition: all .2s;transition: all .2;}
nav#main-nav ul#network-menu li a:hover{border-top:5px solid #ffea00;-moz-transition: all .2s; -webkit-transition: all .2s;-o-transition: all .2s;transition: all .2s;}

nav#main-nav ul#network-menu{position:relative;width:120px;margin-left:5px;font-size:.65em;padding-left:20px;margin-top:285px;}
nav#main-nav p#copyright{position:absolute;top:97%;margin-left:5px;font-size:.2em;color:#989898;padding-left:10px;}

nav#main-nav #nav-options ul li #filters-launcher{display:none;}
nav#main-nav #tap-close{display:none;}
nav#main-nav .close-sub{display:none;}
nav#main-nav #nav-options span a.btn-back-sections{display:none;}
body div#stylr{display:none;visibility:hidden;opacity:0;}
#work-gal .info-extended{display:none;}
}