/* Smartphones (landscape) ----------- */
	
	#top-title-bar{display:none;}
	#top-title-bar-sdevice{display:block;}
	#thumb-wrapper{margin-top:20px;}

	/**********NAV LIGHT**************/
	#main-nav{font-size:1em;width:195px;}
	#main-nav #tab-nav{display:block;position:absolute;right:-34px;top:46%;width:46px;height:85px;}
	#main-nav #nav-menu{width:95px;}
	#main-nav #nav-menu h4.nav-section{font-size:.75em;}
	#main-nav #nav-menu #nav-options h4.section{font-size:1.1em;}
	nav#main-nav #social-wrapper{position:relative;font:normal .65em/1.7em 'Maven Pro', sans;}
	#main-nav #nav-menu #main-logo{padding-bottom:15px;width:141px;}
	nav#main-nav #nav-options{position:absolute;height:210px;}
	nav#main-nav #social-wrapper{position:relative;width:170px;margin:50px 0 50px -5px;padding:0;}
	nav#main-nav #social-wrapper ul#network-menu{position:relative;margin:0;padding:0;}
	nav#main-nav ul#network-menu li a{display:block;line-height:20px;font-style:italic;float:left;margin-right:10px;color:#000;border-top:0px solid #ffea00;text-decoration:none;-moz-transition: all .2s; -webkit-transition: all .2s;-o-transition: all .2s;transition: all .2;}
	
	nav#main-nav #nav-options #filters{position:absolute;display:none;width:87%;margin-top:0;}
	nav#main-nav #nav-options ul{display:block;margin-bottom:15%;width:183px;}
	nav#main-nav #nav-options ul li{display:block;padding:0px;}
	nav#main-nav #nav-options ul li a{font-size: 1em;}
		
	nav#main-nav #nav-options span a.btn-back-sections{display:block;font-size:.7em;font-style:italic;text-transform:italic;color:#1d1d1d;width:100px;margin:-200px 0 0 10px;text-decoration:none;}
	
	nav#main-nav #nav-options ul li #filters-launcher{display:block;}
	nav#main-nav .close-sub{display:block;}
	nav#main-nav p#copyright{display:none;}
	
	/****ABOUT****/
	.section-wrapper{font-size:.6em;top:8%;left:18%;}
	h2{font-size:1.7em;line-height:1.3em;width:200px;margin:20px 0 25px 20px;}
	.section-wrapper{width:240px;margin:0 0;text-align:center;}
	#about div.section-wrapper div.section-content p{font-size:1em;width:240px;}
	#about .section-wrapper figure{display:none;}
	
	/****DRIBBBLE****/
	body .section-wrapper #mydribbble{text-align:left;}
	#mydribbble h2{line-height:1.4em;margin:20px 0 20px 0;width:400px;text-align:left;}
	#mydribbble .section-wrapper .breadcrumbs{text-align:left;}
	#mydribbble #mydribbble-stats{font-size:.9em;font-style:italic;text-align:left;width:400px;}
	#mydribbble #mydribbble-drafts{position:absolute;left:500px;margin:-14px 0 0 -80px;z-index:1000;}
	#mydribbble #mydribbble-drafts .plus-following{display:block;padding:0px 4px 0px 4px;font-size:1em;background:#ffea00;color:#000;}
	#mydribbble #mydribbble-drafts ul{display:none;padding-top:15px;text-align:left;}
	#mydribbble #mydribbble-drafts ul li a{display:inline;background:#000;color:#ffea00;font-size:1.3em;line-height:2.2em;padding:5px;}
	#mydribbble ul.shots{width:400px;text-align:center;}
	#mydribbble ul.shots li{width:100%;}
	#mydribbble ul.shots li h3{font-size:1.3em;}
	#mydribbble ul.shots li a.in-shot{display:block;width:250px;height:185.5px;border:8px solid #FFF;text-align:left;}
	.section-wrapper ul.shots ul li a{display:none;opacity:0;}
	#mydribbble ul.shots li #date-shot{color:#808080;font-size:1em;text-align:center;margin-top:10px;text-transform:uppercase;}
	#mydribbble #mydribbble-shots ul li img{width:250px;height:185.5px;}
	.bx-next, .bx-prev{display:none;}
	
	/****NEWS****/
	#news .section-wrapper{width:240px;margin:0 0;text-align:center;}
	#news .breadcrumbs{margin-left:20px;}
	#news .section-wrapper ul{width:250px;float:left;margin-right:75px;}
	#news .section-wrapper ul li{font-size:1.2em;line-height:1.6em;}
	#news #wdgt-twitter .jta-tweet-list{margin-top:20px;}
	#news #wdgt-twitter .jta-tweet-timestamp a{text-align:center;}

	#news ul#wdgt-news{display:none;}
	
	/******CONTACT******/
	#contact .breadcrumbs{margin-left:-30px;}
	#contact h2{width:140px;margin-left:30px;}
	#contact ul li{font-size:1.1em;}
	#contact div.contact-form{display:none;}
	
	/****DEFAULT GALLERY WORK****/
	#work-detail-wrapper .item-wrapper .item .info-work{height:320px;top:95%;padding:20px 0 0 45px;}
	#work-detail-wrapper .item-wrapper .item div#divThumbs{height:80px;top:-105%;}
	#work-gal{font-size:.65em;}
	#work-gal p{line-height:1.5em;width:300px;margin:10px 35px 0 0;}
	#work-gal p a{text-decoration:none;text-transform:uppercase;font-size:.7em;padding:2px;color:#ffea00;-moz-transition: all .3s;-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
	#work-gal h3{line-height:2em;}
	#work-gal .info-extended{display:none;}
	#work-gal #pagination{margin-left:30px;}
	#work-detail-wrapper .item-wrapper span#closebt{margin-right:60px;}
	
	/****DEFAULT GALLERY FOR PHOTOGRAPHERS****/
	body #work-detail-wrapper #work-gal-photo h3{font-size:1em;}
	body #work-detail-wrapper #work-gal-photo p{font-size:.8em;line-height:1.8em;width:200px;margin-top:10px;}
	
@media only screen 
and (max-width : 449px) {
.skin-01 #main-nav #logo{background:url(../images/skins-items/logo-iceberg-folio-two-orange-small.png) no-repeat;}
.skin-01 #main-nav #tab-nav img{background:url(../images/skins-items/tab-nav-orange.png) no-repeat;}
.skin-02 #main-nav #logo{background:url(../images/skins-items/logo-iceberg-folio-two-red-small.png) no-repeat;}
.skin-02 #main-nav #tab-nav img{background:url(../images/skins-items/tab-nav-red.png) no-repeat;}
.skin-02 nav#main-nav #nav-options ul li a{color:#8e8e8e;}
.skin-03 #main-nav #logo{background:url(../images/skins-items/logo-iceberg-folio-two-blue-small.png) no-repeat;}
.skin-03 #main-nav #tab-nav img{background:url(../images/skins-items/tab-nav-blue.png) no-repeat;}
.skin-04 #main-nav #logo{background:url(../images/skins-items/logo-iceberg-folio-two-green-small.png) no-repeat;}
.skin-04 #main-nav #tab-nav img{background:url(../images/skins-items/tab-nav-green.png) no-repeat;}
.skin-04 nav#main-nav #nav-options ul li a{color:#8e8e8e;}
.skin-05 nav#main-nav #nav-options ul li a{color:#8e8e8e;}

}
body div#stylr{display:none;visibility:hidden;opacity:0;}