html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */
@media screen{hgroup,nav,section,article,aside,figure,footer{display:block;}
ol,menu,ul,li{list-style:none;margin:0;padding:0;}
html{background:#aaa url(../images/bg.png) repeat;}
body{background:url(../images/glow.png) no-repeat top center;margin:0;padding:0;font-family:"proxima-nova-1","proxima-nova-2",Georgia,serif;color:#333;-webkit-text-size-adjust:none;position:relative;overflow-x:hidden;}
#container{width:100%;padding:50px 0 100px;}
#content{float:left;width:100%;}
#primary{margin-left:210px;position:relative;z-index:2;margin-bottom:40px;}
.item{background:#fff;position:relative;width:360px;float:left;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.10);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.10);box-shadow:0 1px 1px rgba(0,0,0,0.10);margin:0 0 20px 20px}
#masonry{width:100%;list-style:none;margin:0;padding:0;position:relative} 
#footer{clear:both;position:relative;z-index:1000;font-size:12px;margin:-20px 0 0;padding: 0 40px;}
#sidebar{position:fixed;width:150px;left:0;z-index:500;margin:0 0 0 40px}
#logo,#logo a{font-size:28px;line-height:30px;color:3000;display:block}
#tagline{font-size:12px;line-height:18px;font-weight:400;margin:15px 0 0;}
#back-to-top a{font-size:11px;display:block;position:relative;z-index:1000;}
#back-to-top a .icon{float:left;width:21px;height:21px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin:0 10px 0 0;}
#back-to-top a .icon .arrow{background-position:0 -85px;display:block;width:5px;height:9px;position:relative;top:auto;margin:6px 0 0 8px;}
#back-to-top a:hover .icon .arrow{background-position:-6px -85px;}
}

/* Modified and borrowed from elliotkember.com,which was shamelessly stolen from maxvoltar.com,which in turn was shamelessly stolen from chatrboxapp.com. */
::-webkit-scrollbar{width:6px;height:6px;}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment{display:block;height:10px;}
::-webkit-scrollbar-button:vertical:increment{background-color:#fff;background:transparent;}
::-webkit-scrollbar-track{-webkit-border-radius:3px;}
::-webkit-scrollbar-track-piece{-webkit-border-radius:3px;}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:rgba(0,0,0,0.5);opacity:0.5;-webkit-border-radius:3px;position:relative;}
::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#999;-webkit-border-radius:3px;}
::-webkit-scrollbar-thumb:vertical:hover{background-color:rgba(0,0,0,0.5);}
::-webkit-scrollbar-thumb:vertical:active,::-webkit-scrollbar-thumb:vertical:focus{background-color:#660066;}
html{/*overflow-y:scroll;*/
overflow:auto;/*width:100% !important;*/}
@media only screen and (max-device-width:480px){html{overflow:auto;}}
/* @group default */
#wrapper{margin:0 auto;}
html{overflow-x:hidden;}
#turn_wrapper{left:10px !important;}
body{position:absolute;top:0;bottom:0;right:10px;overflow-y:scroll;overflow-x:hidden;width:100%;margin:0;}
@media only screen and (max-device-width:480px){body{position:relative;top:auto;right:auto;bottom:auto;left:auto;overflow:auto;}
}
/* @end */
