@media screen{hgroup,nav,section,article,aside,figure,footer{display:block;}
body{background:#181819 url(../images/noise.png) repeat;margin:0;padding:0;font-family:"proxima-nova-1","proxima-nova-2",Georgia,serif;color:#333;-webkit-text-size-adjust:none;position:relative;overflow-x:hidden;}
#background{position:fixed;top:0;left:0;width:100%;}
#page{border-top:5px solid #181819;width:930px;background-color:rgba(255,255,255,0.9);padding:25px 30px 0 30px;z-index:2;position:relative;}
.glow{background:url(../images/glow.png) center top no-repeat;position:fixed;top:0px;width:100%;height:100%;}
.logo{width:30px;height:39px;float:left;padding:0px 8px 5px 0px;}
#wrapper{margin:0px auto;width:930px;position:relative;}
#top{position:absolute;top:65px;display:block;z-index:10;width:991px;}
#parallax{z-index:5;display:block;position:relative;overflow:hidden;height:110px;width:930px;padding:0px 30px 0px 30px;margin:0 auto;}
#logo{font-size:24px;background:#000;padding:13px 13px 6px 13px;color:#fff;float:left;display:block;}
#top-menu{float:right;margin-right:5px;margin-top:7px;}
#top-menu a{float:right;text-shadow:0 2px 3px rgba(0,0,0,1);padding:8px 26px;display:block;color:#fff;font-weight:600;font-size:16px;text-decoration:none;border-bottom:none;margin-left:10px;}
#top-menu.light a{color:#D3DBE8}
#top-menu a:hover,#top-menu a.active{text-shadow:0 1px 3px rgba(0,0,0,1);color:white}
#top-menu a.about{background:url(../images/about.png) no-repeat 2px 9px;}
#top-menu a.projects{background:url(../images/lab.png) no-repeat 2px 9px;}
#top-menu a.contact{background:url(../images/contact.png) no-repeat 2px 8px;}
#top-menu a.work{background:url(../images/inbox.png) no-repeat 2px 8px;}
#top-menu a:active{top:1px;position:relative;}
.meta{margin:0;padding:0;}
.meta h1 a{color:#000;border:0;}
.meta a{border-bottom:0;}
.meta p{padding-top:0;}
.meta p em{color:#666;}
.meta img{height:12px;width:12px;margin-right:5px;}
.date{font-size:13px}
hr{height:1px;border:1px solid #ddd;margin-top:30px;margin-bottom:10px;}
#content{float:right;width:640px;margin:0 0 10px 0;}
article{width:640px;margin:0 0 10px 0;padding-bottom:10px;}
article p{line-height:28px;}
ul.posts{list-style:none;line-height:1.6;margin:0;padding:0;}
ul.posts li{color:#000;padding-bottom:.4em;}
ul.posts li .date{font-family:Courier,monospace;color:#777;font-size:90%;display:inline-block;min-width:6.7em;}
ul.posts li .date + a{margin-left:.5em;}
ul.posts li .tags{color:#bbb;}
aside{width:250px;float:left;padding-bottom:30px;}
aside h3:first-child{padding-top:0;}
aside p,aside li,aside blockquote,#options li{font-size:13px;text-shadow:none;}
aside ul{padding:0px;margin:10px 0px 0px 0px;}
aside li{list-style-type:none;padding:0;line-height:16px;border-bottom:1px solid #ccc;padding:8px 0px 8px 2px}
aside li:first-child{border-top:1px solid #ccc;}
aside li a{margin:0;border-bottom:none;color:#000;}
aside li a:hover{padding:0 10px 0 0;background:url(../images/arrow.png) no-repeat right center;}
aside li span{float:right;font-size:10px;background:#a4a4a4;color:#fff;padding:0px 5px;-moz-border-radius:3px;border-radius:3px;}
aside ul.social li{padding:8px 0 8px 27px;background-size:16px;}
aside ul.social li a strong{color:#aaa;font-weight:normal;}
aside ul.social li.twitter{background:url(../images/twitter_alt.png) no-repeat 2px 8px}
aside ul.social li.github{background:url(../images/github_alt.png) no-repeat 2px 8px}
aside ul.social li.facebook{background:url(../images/facebook.png) no-repeat 2px 8px}
aside ul.social li.rss{background:url(../images/rss.png) no-repeat 2px 8px}
aside ul.social li.email{background:url(../images/vcard.png) no-repeat 2px 8px}
aside li span{float:right;font-size:10px;background:rgba(0,0,0,0.30);color:#fff;padding:0px 5px;-moz-border-radius:3px;border-radius:3px;}
.get{display:none;}
#diagram{margin-top:10px;width:250px;height:250px;}
footer{clear:both;height:60px;}
footer p{float:left;padding:0;margin:0;font-size:12px;}
h1,h2,h3,h4,h5,h6{margin:0;padding:5px 0;text-rendering:optimizeLegibility;font-weight:normal;color:#000;text-shadow:0 1px #fff;}
h1{font-size:39px;padding-bottom:0;letter-spacing:-1px;font-weight:600;}
h2{font-size:24px;}
h3{font-size:22px;padding:15px 0 0 0;}
h4{font-size:20px;}
h5{font-size:18px;}
h6{font-size:16px;}
p{margin:0;padding:7px 0;line-height:22px;font-size:15px;text-shadow:0 1px #fff;}
img{border:none;}
a{color:#777;text-decoration:none;border-bottom:1px dotted #000;transition:color 0.3s linear;-moz-transition:color 0.3s linear;-webkit-transition:color 0.3s linear;-o-transition:color 0.3s linear;}
a:hover{color:#000;}
.skip{display:none;}
#disqus_thread{margin-bottom:130px;}
#related{margin-bottom:30px;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.clearfix:after{clear:both;content:'';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0;}
* html .clearfix,
*:first-child+html .clearfix{zoom:1;}
}
@media screen and (max-width:490px){body{background-image:none;margin:0 9px;}
#page{width:100%;margin:0;padding:0;float:none;border:none;-webkit-box-shadow:none;}
article{float:none;width:100%;}
aside{float:none;width:100%;margin:0;padding:20px 0 0 0;}
footer{height:110px;}
#logo{width:100%;}
iframe{width:100%;height:230px;}
h1{font-size:30px;}
.skip{display:block;text-align:center;border-bottom:none;}
}
@media screen and (min-width:490px) and (max-width:1000px){body{background-image:none;border-left:none;}
#page{width:720px;margin:0 auto;float:none;padding:40px 20px 20px 20px;-webkit-box-shadow:none;box-shadow:none;border:none;}
aside{width:180px;}
#logo{width:180px;}
iframe{width:490px;}
}
/* Modified and borrowed from elliotkember.com,which was shamelessly stolen from maxvoltar.com,which in turn was shamelessly stolen from chatrboxapp.com. */
::-webkit-scrollbar{width:10px;height:10px;}
::-webkit-scrollbar-button:start:decrement{display:block;height:5px;width:5px;background-color:transparent;}
::-webkit-scrollbar-button:end:increment{display:block;height:5px;width:5px;background-color:transparent;}
::-webkit-scrollbar-track:enabled{background-color:transparent;}
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:rgba(255,255,255,.5);-webkit-border-radius:5px;}
::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:rgba(255,255,255,.5);-webkit-border-radius:5px;}
@media screen and (-webkit-min-device-pixel-ratio:0){html{overflow:hidden;}
body{position:absolute;top:0;left:0;bottom:0;right:0;overflow-y:auto;overflow-x:auto;}
}
