aside.sidebar {
  text-shadow: none !important;
  #categories {
    ul {
      margin-top: 5px;
      li {  
        border-bottom: none;
        position: relative;
        padding: .2em 0;
        margin-bottom: 2px;
        overflow: hidden;
        text-shadow: none;
        &:hover em { top: 5px; }
        &:hover span { width: 96% !important; }
        &:hover div { top: 40px; }
        a {
          position: relative;
          display: block;
          padding-left: 12px;
          z-index: 1;
        }
        em {
          font-style: normal;
          font-size: 11px;
          right: 13px;
          opacity: 0.9;
          position: absolute;
          top: 40px;
          z-index: 2;
          @include transition(all .2s);
        }
        span {
          padding: 3px 6px;
          height: 50%;
          text-indent: -9999px;
          display: block;
          overflow: hidden;
          background: #e5e5e5;
          position: absolute;
          top: 20%;
          left: 0;
          z-index: 0;
          @include border-radius(100px);
          @include transition(width .5s);
        }
        div {
          width: 16px;
          height: 16px;
          float: right;
          text-indent: -9999px;
          position: absolute;
          top: 6px;
          right: 7px;
          opacity: 0.6;
          @include transition(all .2s);
        }
      }
    }
  }
}
