aside.sidebar {
  #categories {
    ul {
      margin-top: 8px;
      li {  
        border-bottom: none;
        @include box-shadow(none);
        position: relative;
        padding: .2em 0;
        margin-bottom: 2px;
        overflow: hidden;
        @include transition(all 1s);
        a {
          position: relative;
          display: block;
          z-index: 1;
          padding-left: 12px;
        }
        em {
          font-style: normal;
          font-size: 11px;
          opacity: 0.9;
          z-index: 2;
          right: 13px;
          @include transition(all .2s);
          position: absolute;
          top: 40px;
        }
        span {
          position: absolute;
          top: 20%;
          left: 0;
          z-index: 0;
          padding: 3px 6px;
          height: 50%;
          text-indent: -9999px;
          display: block;
          overflow: hidden;
          background: #ddd;
          @include border-radius(100px);
          @include transition(width .5s);
        }
        div {
          @include transition(all .2s);
          width: 16px;
          height: 16px;
          float: right;
          text-indent: -9999px;
          position: absolute;
          top: 6px;
          right: 7px;
          opacity: 0.6;
        }
      }
    }
  }
}
