aside.sidebar {
  section {
    #recent_posts {
      li {
        span {
          text-transform: uppercase;
          color: #666;
          font-weight: 600;
          opacity: 0.4;
          @include text-shadow(0px 1px 0px #fff);
          font-size: .8em;
          margin-right: 5px;
        }
        &:last-child { border-bottom: 0; @include box-shadow(none); }
      }
    }
  }
}
