#tweets {
  padding: .5em 0;
  margin-top: .2em;
    li {
      color: #797d80; 
      font-size: 0.975em;
      line-height: 1.5em;
      padding: 1em;
      background: #fff; 
      margin-bottom: 1.2em;
      @include border-radius(4px);
      -webkit-box-shadow: 0 0.3125em 0.575em -0.3125em rgba(0, 0, 0, .5);
      -moz-box-shadow: 0 0.3125em 0.575em -0.3125em rgba(0, 0, 0, .5);
      box-shadow: 0 0.3125em 0.575em -0.3125em rgba(0, 0, 0, .5);
    }
  .loading {
    background: inline-image('bird_32_gray.png') no-repeat center .5em;
    color: darken($sidebar-bg, 18);
    text-shadow: $main-bg 0 1px;
    text-align: center;
    padding: 2.5em 0 .5em;
    &.error {
      background: inline-image('bird_32_gray_fail.png') no-repeat center .5em;
    }
  }
  p {
    position: relative;
    padding-right: 1em;
  }
  a[href*=status]:first-child {
    float: right;
    padding: 0 0 .1em 1em;
    position: relative; right: -1.3em;
    text-shadow: #fff 0 1px;
    font-size: .7em;
    span { font-size: 1.5em; }
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  a[href*='twitter.com/search']{
    @extend .aside-alt-link;
    @include hover-link;
  }
}
.twitter-follow-button {
  position: relative;
  margin: 0 auto;
}
