<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
	<title>Auguste HTML &mdash; Themeforest.net &mdash; By Carlo Franco</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="robots" content="all" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="7 days" />
	<meta name="version" content="1.0" />
	<meta name="copyright" content="" />
	<link rel="shortcut icon" href="/favicon.ico" />
	
	<!-- CSS -->
	<link rel="stylesheet" href="style.css" media="screen" type="text/css"/>
	<link rel="stylesheet" href="js/fancybox/jquery.fancybox-1.3.1.css" type="text/css"/>
	
	<!-- Javascript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
	<script src="js/fancybox/jquery.fancybox-1.3.1.pack.js" type="text/javascript"></script>
	<script src="js/jquery.easing-1.3.pack.js" type="text/javascript"></script>
	<script src="js/jquery.cycle.js" type="text/javascript"></script>
	<script src="js/ui.tabs.min.js" type="text/javascript"></script>
	<script src="js/scripts.js" type="text/javascript"></script>

	<!--[if IE 6]>
	<link href="ie.css" rel="stylesheet" media="screen" type="text/css" />
	<![endif]-->
	
</head>
<body class="blog archive">
<div id="header-wrapper">
	<div id="header">
		<h1>
			<a id="logo" href="index.html" title="Auguste">Auguste</a>
		</h1>
		<div id="nav">
			<ul>
				<li><a class="home" href="index.html">Home</a></li>
				<li class="submenu">
					<a href="#">Templates</a>
					<ul class="dropdown">
						<li><a href="index.html">Home</a></li>
						<li><a href="fullwidth.html">Full Width</a></li>
						<li><a href="blog.html">Blog / Archive</a></li>
						<li><a href="single.html">Blog Single</a></li>
						<li><a href="page.html">Page</a></li>	
						<li><a href="portfolio.html">Portfolio</a></li>	
						<li><a href="portfolio_single.html">Portfolio Single</a></li>
						<li><a href="contact.php">Contact Page</a></li>	
						<li class="submenu">
							<a href="#">Submenu</a>
							<ul class="dropdown">
								<li><a href="#">Subpage 1</a></li>
								<li><a href="#">Subpage 2</a></li>
								<li><a href="#">Subpage 3</a></li>
							</ul>
						</li>
					</ul>				
				</li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li><a class="current" href="blog.html">Blog</a></li>
				<li><a href="contact.php">Contact</a></li>
			</ul>
		</div>
	</div><!-- end: #header -->
</div><!-- end: #header-wrapper -->

<div id="content-wrapper">
	<div id="breadcrumb">
		<a href="index.html">Home</a> &not;
	</div>
	<div id="main-container" class="clearfix">
		<div id="content">
			<div id="blog-top">
				<div id="change-view">Change view: <a id="list-view" href="#">List</a><a id="grid-view" href="#">Grid</a></div>
				<div class="pagination">
					<a class="prev" href="#">&larr; Older Entries</a>
					<span>1-5</span> of <span>315</span> Items
				</div>
			</div>
			<div id="blog-posts">
				<div class="post first">
					<h1 class="post-title"><a href="single.html">The Kitchen Sink</a></h1>
					<div class="post-meta">
						<span class="date"><img src="images/icons/ico_calendar.png" alt="" />Jan 14, 2010 | </span>
						<span class="num-comments"><img src="images/icons/ico_comments_sm.png" alt="" /><a href="#">(16)</a> | </span>
						<span class="categories"><img src="images/icons/ico_drawer.png" alt="" />Filed in: <a href="#">Category 1</a>, <a href="#">Category 2</a></span> 
					</div>
					<img class="post-image alignright" src="demo_images/post_thumbnail_01.jpg" alt=""/>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan vestibulum nulla in fermentum. In vitae turpis et lorem luctus ullamcorper. Curabitur eu ligula a nunc suscipit luctus. Vivamus dictum, sapien ut tincidunt gravida, neque leo sodales metus, at dignissim nunc eros non felis. <a class="more-link" href="single.html">Read More&hellip;</a></p>		
				</div><!-- end: .post -->
				<div class="post">
					<h1 class="post-title"><a href="single.html">Look ma, I made a blog post!</a></h1>
					<div class="post-meta">
						<span class="date"><img src="images/icons/ico_calendar.png" alt="" />Jan 10, 2010 | </span>
						<span class="num-comments"><img src="images/icons/ico_comments_sm.png" alt="" /><a href="#">(12)</a> | </span>
						<span class="categories"><img src="images/icons/ico_drawer.png" alt="" />Filed in: <a href="#">Category 1</a>, <a href="#">Category 2</a></span> 
					</div>
					<img class="post-image alignright" src="demo_images/post_thumbnail_02.jpg" alt=""/>
					<p>Etiam blandit mattis metus, sit amet faucibus lacus mattis nec. Suspendisse fringilla porttitor elit, ac semper mauris cursus eu. Vestibulum rutrum ante in diam aliquet sed bibendum felis elementum. Donec enim lacus, tempus id vehicula ac, tincidunt sed turpis. <a class="more-link" href="#">Read More&hellip;</a></p>		
				</div><!-- end: .post -->
				<div class="post">
					<h1 class="post-title"><a href="single.html">Lorem ipsum dolor sit amet</a></h1>
					<div class="post-meta">
						<span class="date"><img src="images/icons/ico_calendar.png" alt="" />Jan 06, 2010 | </span>
						<span class="num-comments"><img src="images/icons/ico_comments_sm.png" alt="" /><a href="#">(7)</a> | </span>
						<span class="categories"><img src="images/icons/ico_drawer.png" alt="" />Filed in: <a href="#">Category 1</a>, <a href="#">Category 2</a></span> 
					</div>
					<p>Vivamus mauris mi, pretium ut venenatis ut, convallis posuere arcu. Suspendisse aliquam turpis vitae felis sollicitutdin dapibus. Donec mi tortor, auctor sit amet laoreet et, aliquet vel urna. Cras pharetra malesuada ante non tempus. Morbi iaculis, ligula sit amet pretium mattis, ligula elit consequat arcu. <a class="more-link" href="#">Read More&hellip;</a></p>		
				</div><!-- end: .post -->
				<div class="post">
					<h1 class="post-title"><a href="single.html">Let's make this heading extra long just for kicks</a></h1>
					<div class="post-meta">
						<span class="date"><img src="images/icons/ico_calendar.png" alt="" />Jan 04, 2010 | </span>
						<span class="num-comments"><img src="images/icons/ico_comments_sm.png" alt="" /><a href="#">(36)</a> | </span>
						<span class="categories"><img src="images/icons/ico_drawer.png" alt="" />Filed in: <a href="#">Category 1</a></span> 
					</div>
					<img class="post-image alignright" src="demo_images/post_thumbnail_03.jpg" alt=""/>
					<p>Etiam blandit mattis metus, sit amet faucibus lacus mattis nec. Suspendisse fringilla porttitor elit, ac semper mauris cursus eu. Vestibulum rutrum ante in diam aliquet sed bibendum felis elementum. Donec enim lacus, tempus id vehicula ac, tincidunt sed turpis. <a class="more-link" href="#">Read More&hellip;</a></p>		
				</div><!-- end: .post -->
				<div class="post">
					<h1 class="post-title"><a href="single.html">Example Blog Post</a></h1>
					<div class="post-meta">
						<span class="date"><img src="images/icons/ico_calendar.png" alt="" />Jan 01, 2010 | </span>
						<span class="num-comments"><img src="images/icons/ico_comments_sm.png" alt="" /><a href="#">(1)</a> | </span>
						<span class="categories"><img src="images/icons/ico_drawer.png" alt="" />Filed in: <a href="#">General</a></span> 
					</div>
					<p>Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo consequat posuere. <a class="more-link" href="#">Read More&hellip;</a></p>
				</div><!-- end: post -->
				<div class="post">
					<h1 class="post-title"><a href="single.html">Hello World!</a></h1>
					<div class="post-meta">
						<span class="date"><img src="images/icons/ico_calendar.png" alt="" />Jan 01, 2010 | </span>
						<span class="num-comments"><img src="images/icons/ico_comments_sm.png" alt="" /><a href="#">(1)</a> | </span>
						<span class="categories"><img src="images/icons/ico_drawer.png" alt="" />Filed in: <a href="#">Uncategorized</a></span> 
					</div>
					<p>Welcome to WordPress. This is your first post. Edit or delete it, then start blogging!</p>		
				</div><!-- end: post -->
			</div><!-- end: #blog-posts -->
			<div class="nextprev clearfix">
				<a class="prev" href="#">&larr; Older Entries</a>
				<a class="next" href="#">Newer Entries &rarr;</a>
			</div>
		</div><!-- end: #content-->
		
		<!-- begin: #sidebar -->
		<div id="sidebar">
			<div class="section">
				<div id="ads">
					<a class="small odd" href="http://tutsplus.com/amember/go.php?r=11044&amp;i=b30"><img src="http://miscfiles.s3.amazonaws.com/banners/psdtuts_125x125.jpg" alt="Psd Plus: advanced Photoshop tutorials." width="125" height="125"/></a>
					<a class="small even" href="http://themeforest.net?ref=gcfranco"><img src="demo_images/tf_125x125.jpg" width="125" height="125" alt=""/></a>
				</div>
				<div id="search">
					<fieldset>
						<legend>Search the Blog</legend>
						<form method="get" class="search-form" action="#">
							<input type="text" id="s" name="s" value="Search here..." />
						</form>
					</fieldset>
				</div>
			</div>
			<div id="blog-stats" class="section">
				<a class="stat" href="#"><span>123</span><br/>Subscribers</a>
				<a class="stat" href="#"><span>456</span><br/>Followers</a>
				<div id="update-icons">
					<ul>
						<li class="rss"><a href="#" title="Grab the Feed">RSS</a></li>
						<li class="email"><a href="#" title="Get Updates by Mail">Email</a></li>
						<li class="twitter"><a class="twitter-anywhere-user" href="http://www.twitter.com/gcfranco">@gcfranco</a></li>
						<li class="fb"><a href="#" title="Check us out on Facebook">Facebook</a></li>
					</ul>
				</div>
			</div>
			<div id="side-tabs">
				<ul class="tabnav clearfix">
					<li class="active"><a href="#ui-tabs-1">Recent</a></li>
					<li><a href="#ui-tabs-2">Categories</a></li>
					<li><a href="#ui-tabs-3">Comments</a></li>
					<li><a href="#ui-tabs-4">Popular</a></li>
				</ul>
				<div id="ui-tabs-1" class="tab-content">
					<ul>
						<li><a href="#" title="Example Blog Post">Example Blog Post </a></li>
						<li><a href="#" title="Hello world!">Hello world! </a></li>
						<li><a href="#">Lorem ipsum dolor sit amet</a></li>
						<li><a href="#">Aliquam tincidunt mauris eu risus.</a></li>
						<li><a href="#">Vestibulum auctor dapibus neque.</a></li>
					</ul>
				</div>
				<div id="ui-tabs-2" class="tab-content">
					<ul>
						<li><a href="#">Links</a></li>
						<li><a href="#">Notes</a></li>
						<li><a href="#">Pictures</a></li>
						<li><a href="#">Quotes</a></li>
						<li><a href="#">Videos</a></li>
					</ul>
				</div>
				<div id="ui-tabs-3" class="tab-content">
					<ul>
						<li><a href="#" rel="external nofollow">Mr WordPress</a> on <a href="#">Hello world!</a></li>
						<li><a href="#" rel="external nofollow">Georgia Italic</a> on <a href="#">Example Blog Post</a></li>
						<li><a href="#" rel="external nofollow">Carlo Franco</a> on <a href="#">Let's make this heading extra long just for kicks</a></li>
						<li><a href="#" rel="external nofollow">admin</a> on <a href="#">Look ma, a Popular Post</a></li>
						<li><a href="#" rel="external nofollow">Steve Jobs</a> on <a href="#">Yet Another Blog Post</a></li>					
					</ul>
				</div>
				<div id="ui-tabs-4" class="tab-content">
					<ul>
						<li><a href="#">Some Blog Post</a></li>
						<li><a href="#">Lorem ipsum Dolor</a></li>
						<li><a href="#">Look ma, a Popular Post</a></li>
						<li><a href="#">Delicious Design</a></li>
						<li><a href="#">Hello World</a></li>
					</ul>
				</div>
			</div><!-- /#tabs -->
			<div id="popular-tags" class="section">	
				<h2 class="section-title">Popular Tags</h2>						
				<ul>
					<li><a href="#">404</a></li>
					<li><a href="#">Adobe</a></li>
					<li><a href="#">Adsense</a></li>
					<li><a href="#">Backgrounds</a></li>
					<li><a href="#">Art</a></li>
					<li><a href="#">Badges</a></li>
					<li><a href="#">Books</a></li>
					<li><a href="#">Blogging</a></li>
					<li><a href="#">Buttons</a></li>
					<li><a href="#">Browser</a></li>
					<li><a href="#">CSS</a></li>
					<li><a href="#">Clients</a></li>
					<li><a href="#">Firefox</a></li>
					<li><a href="#">Freelance</a></li>
					<li><a href="#">Interfaces</a></li>
					<li><a href="#">HTML</a></li>
					<li><a href="#">Javascript</a></li>
					<li><a href="#">Design</a></li>
					<li><a href="#">Code</a></li>
					<li><a href="#">Travel</a></li>
					<li><a href="#">Wordpress</a></li>
				</ul>
			</div>
			<div id="twitter-feed" class="section">
				<h2 class="section-title">Twitter Feed</h2>
				<a id="twitter-id" class="twitter-anywhere-user" href="http://www.twitter.com/gcfranco">@gcfranco</a>
				<ul>
					<li><p><img class="alignleft" src="demo_images/mangatar.jpg" width="60" height="60" alt="Carlo Franco"/>RT <a href="#">@Lorem_ipsum</a> dolor sit amet, consectetur adipiscing elit. Quisque lobortis, There are one hundred and forty characters in this fake tweet &mdash; <span>1 day ago</span></p></li>
					<li><p>Vivamus eu est enim, eget molestie lectus. Donec mattis, orci eget molestie imperdiet &mdash; <span>2 days ago</span></p></li>
					<li><p>Aliquam ut enim massa, quis gravida enim. Etiam luctus ante <a href="#">#hash</a> &mdash; <span>1 week ago</span></p></li>
					<li><p>Curabitur eget odio augue, quis placerat arcu &mdash; <span>2 weeks ago</span></p></li>
				</ul>
				<a href="http://www.twitter.com/gcfranco">More Updates &raquo;</a>
			</div>
			<div id="meta" class="section">
				<h2 class="section-title">Meta</h2>
				<ul>
					<li><a href="#">Site Admin</a></li>
					<li><a href="#">Log out</a></li>
					<li><a href="#" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
					<li><a href="#" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
					<li><a href="http://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
				</ul>
			</div>			
		</div><!-- end: #sidebar-->
	</div><!-- end: #main-container -->
</div><!-- end: #content-wrapper -->

<div id="footer-wrapper">
	<div id="footer">
		<div class="col">
			<h3 class="section-title">About</h3>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada. Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Pellentesque accumsan vestibulum nulla in fermentum. Donec lacinia mattis nisl, ut fermentum nunc commodo id.</p>
			<p>Quisque lobortis, ipsum condimentum tempus volutpat, purus dui ultrices arcu, scelerisque dignissim nunc erat.</p>
			<h3 class="section-title">Connect With Us</h3>
			<ul id="socialize">
				<li><a href="#"><img src="images/icons/ico_twitter.png" alt="Twitter" title="Twitter"/></a></li>
				<li><a href="#"><img src="images/icons/ico_fb.png" alt="Facebook" title="Facebook"/></a></li>
				<li><a href="#"><img src="images/icons/ico_digg.png" alt="Digg" title="Digg"/></a></li>
				<li><a href="#"><img src="images/icons/ico_delicious.png" alt="Delicious" title="Delicious"/></a></li>
			</ul>
		</div>
		<div class="col">
			<h3 class="section-title">Flickr</h3>
			<div id="flickr">
				<a href="#"><img src="demo_images/flickr_01.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_02.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_03.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_04.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_05.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_06.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_07.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_08.jpg" alt="" /></a>
			</div>
			<h3 class="section-title">Colophon</h3>
			<div id="colophon">
				<p>Copyright &copy; 2010 All Rights Reserved. Auguste template designed and coded <small>by</small> <a href="http://www.carlofranco.ca">Gian Carlo Franco</a>. Icons <small>by</small> <a href="http://tango.freedesktop.org/Tango_Icon_Library">Tango</a></p>
				<p>Buy this template at <a href="http://www.themeforest.com">Themeforest.com</a></p>
			</div>
		</div>
		<div class="col last">
			<h3 class="section-title">Get in Touch</h3>
			<p id="qc-thanks"></p>
			<form id="quick-contact" method="post" action="qc_form.php" name="quick-contact">
				<fieldset>
					<legend>Please fill in the following form to contact us.</legend>
					<ol>
						<li>
							<label for="qc-name">Name:</label>
							<input id="qc-name" class="input" name="qc-name" type="text" />
						</li>
						<li>
							<label for="qc-email">Email:</label>
							<input id="qc-email" class="input" name="qc-email" type="text"/>
						</li>				
						<li>
							<label for="qc-message">Your Message:</label>
							<textarea id="qc-message" name="qc-message" rows="6" cols="40"></textarea>
						</li>
						<li>
							<input id="qc-submit" type="submit" class="button" value="Send Message"/>
						</li>
					</ol>
				</fieldset>
			</form>
		</div>
	</div><!-- end: #footer -->
</div><!-- end: #footer-wrapper -->
</body>
</html>