<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
	<title>Auguste HTML &mdash; Themeforest.net &mdash; By Carlo Franco</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="robots" content="all" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="7 days" />
	<meta name="version" content="1.0" />
	<meta name="copyright" content="" />
	<link rel="shortcut icon" href="/favicon.ico" />
	
	<!-- CSS -->
	<link rel="stylesheet" href="style.css" media="screen" type="text/css" />
	<link rel="stylesheet" href="js/fancybox/jquery.fancybox-1.3.1.css" type="text/css"/>
	
	<!-- Javascript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
	<script src="js/fancybox/jquery.fancybox-1.3.1.pack.js" type="text/javascript"></script>
	<script src="js/jquery.easing-1.3.pack.js" type="text/javascript"></script>
	<script src="js/jquery.cycle.js" type="text/javascript"></script>
	<script src="js/ui.tabs.min.js" type="text/javascript"></script>
	<script src="js/portfolio.js" type="text/javascript"></script>
	<script src="js/scripts.js" type="text/javascript"></script>
	
	<!--[if IE 6]>
	<link href="ie.css" rel="stylesheet" media="screen" type="text/css" />
	<![endif]-->
	
</head>
<body class="portfolio">
<div id="header-wrapper">
	<div id="header">
		<h1>
			<a id="logo" href="index.html" title="Auguste">Auguste</a>
		</h1>
		<div id="nav">
			<ul>
				<li><a class="home" href="index.html">Home</a></li>
				<li class="submenu">
					<a href="#">Templates</a>
					<ul class="dropdown">
						<li><a href="index.html">Home</a></li>
						<li><a href="fullwidth.html">Full Width</a></li>
						<li><a href="blog.html">Blog / Archive</a></li>
						<li><a href="single.html">Blog Single</a></li>
						<li><a href="page.html">Page</a></li>
						<li><a href="portfolio.html">Portfolio</a></li>	
						<li><a href="portfolio_single.html">Portfolio Single</a></li>
						<li><a href="contact.php">Contact Page</a></li>	
						<li class="submenu">
							<a href="#">Submenu</a>
							<ul class="dropdown">
								<li><a href="#">Subpage 1</a></li>
								<li><a href="#">Subpage 2</a></li>
								<li><a href="#">Subpage 3</a></li>
							</ul>
						</li>
					</ul>				
				</li>
				<li><a class="current" href="portfolio.html">Portfolio</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contact.php">Contact</a></li>
			</ul>
		</div>
	</div><!-- end: #header -->
</div><!-- end: #header-wrapper -->

<div id="content-wrapper">
	<div id="breadcrumb">
		<a href="index.html">Home</a> &not;
	</div>
	<div id="main-container" class="clearfix">
		<div id="content">
			<div id="project-list">
				<div class="project">
					<img src="demo_images/folio_1_s.jpg" alt="How to be a Rockstar Freelancer" title="How to be a Rockstar Freelancer" />
					<div class="caption">
						<span>Print Design</span>
						<h3>How to be a Rockstar Freelancer</h3>
						<p>Pellentesque accumsan vestibulum nulla in fermentum.</p>
						<a class="hover" rel="portfolio" href="portfolio_single.html"><span>Click to Continue&hellip;</span></a>
					</div>
				</div>
				<div class="project">
					<img src="demo_images/folio_2_s.jpg" alt="Moo Minicards" title="Moo Minicards" />
					<div class="caption">
						<span>Branding &amp; Identity</span>
						<h3>Minicards</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan vestibulum nulla in fermentum.</p>
						<a class="hover" rel="portfolio" href="portfolio_single.html"><span>Click to Continue&hellip;</span></a>
					</div>
				</div>
				<div class="project">
					<img src="demo_images/folio_3_s.jpg" alt="1000's of Graphic Files" title="1000's of Graphic Files" />
					<div class="caption">
						<span>Print Design</span>
						<h3>1000's of Graphic Files</h3>
						<p>Quisque egestas, justo non egestas auctor, felis ipsum suscipit ligula, ut imperdiet ligula tellus at ligula. Donec at velit ipsum.</p>
						<a class="hover" rel="portfolio" href="portfolio_single.html"><span>Click to Continue&hellip;</span></a>
					</div>
				</div>
				<div class="project">
					<img src="demo_images/folio_4_s.jpg" alt="Joel Art" title="Joel Art" />
					<div class="caption">
						<span>Line Art</span>
						<h3>Joel Art</h3>
						<p>Nam sapien justo, cursus in fringilla quis, ullamcorper sit amet justo.</p>
						<a class="hover" rel="portfolio" href="portfolio_single.html"><span>Click to Continue&hellip;</span></a>
					</div>
				</div>
				<div class="project">
					<img src="demo_images/folio_5_s.jpg" alt="Joel Art II" title="Joel Art II" />
					<div class="caption">
						<span>Line Art</span>
						<h3>Joel Art II</h3>
						<p>Donec at velit ipsum, non elementum orci. Aenean at lacus quis tellus semper porttitor sed id mauris. Vivamus vehicula sodales tellus.</p>
						<a class="hover" rel="portfolio" href="portfolio_single.html"><span>Click to Continue&hellip;</span></a>
					</div>
				</div>
				<div class="project">
					<img src="demo_images/folio_6_s.jpg" alt="Joel Art III" title="Joel Art III" />
					<div class="caption">
						<span>Line Art</span>
						<h3>Joel Art III</h3>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
						<a class="hover" rel="portfolio" href="portfolio_single.html"><span>Click to Continue&hellip;</span></a>
					</div>
				</div>
				<div class="project">
					<img src="demo_images/folio_7_s.jpg" alt="B&amp;W Photography" title="B&amp;W Photography" />
					<div class="caption">
						<span>Photography</span>
						<h3>B&amp;W Photography</h3>
						<p>Nam sapien justo, cursus in fringilla quis, ullamcorper sit amet justo. Vivamus facilisis justo at mi sollicitudin vitae hendrerit massa viverra.</p>
						<a class="hover" rel="portfolio" href="portfolio_single.html"><span>Click to Continue&hellip;</span></a>
					</div>				
				</div>
				<div class="project">
					<img src="demo_images/folio_8_s.jpg" alt="Sample Project" title="Sample Project" />
					<div class="caption">
						<span>Photography</span>
						<h3>Canon AE-1 Program</h3>
						<p>Quisque egestas, justo non egestas auctor, felis ipsum suscipit ligula, ut imperdiet ligula tellus at ligula. Donec at velit ipsum, non elementum.</p>
						<a class="hover" rel="portfolio" href="portfolio_single.html"><span>Click to Continue&hellip;</span></a>
					</div>
				</div>
				<div class="project">
					<img src="demo_images/folio_9_s.jpg" alt="Say it in Print" title="Say it in Print" />
					<div class="caption">
						<span>Print Design</span>
						<h3>Say it in Print</h3>
						<p>Aenean at lacus quis tellus semper porttitor sed id mauris. Cras blandit massa eget purus suscipit fringilla.</p>
						<a class="hover" rel="portfolio" href="portfolio_single.html"><span>Click to Continue&hellip;</span></a>
					</div>
				</div>
				<div class="project">
					<img src="demo_images/folio_10_s.jpg" alt="Rockable Press" title="Rockable Press" />
					<div class="caption">
						<span>Typography</span>
						<h3>Rockable Press</h3>
						<p>Aenean at lacus quis tellus semper. Felis ipsum suscipit ligula, ut imperdiet ligula tellus at ligula.</p>
						<a class="hover" rel="portfolio" href="portfolio_single.html"><span>Click to Continue&hellip;</span></a>
					</div>
				</div>
				<div class="project">
					<img src="demo_images/folio_11_s.jpg" alt="Sample Project" title="Sample Project" />
					<div class="caption">
						<span>Photography</span>
						<h3>Ooh, Pretty Photo&hellip;</h3>
						<p>Quisque egestas, justo non egestas auctor, felis ipsum suscipit ligula, ut imperdiet ligula tellus at ligula.</p>
						<a class="hover" rel="portfolio" href="portfolio_single.html"><span>Click to Continue&hellip;</span></a>
					</div>
				</div>
				<div class="project">
					<img src="demo_images/folio_12_s.jpg" alt="Pretty Photo" title="Pretty Photo" />
					<div class="caption">
						<span>Photography</span>
						<h3>Ooh, Pretty Photo&hellip;</h3>
						<p>Quisque egestas, justo non egestas auctor, felis ipsum suscipit ligula, ut imperdiet ligula tellus at ligula.</p>
						<a class="hover" rel="portfolio" href="portfolio_single.html"><span>Click to Continue&hellip;</span></a>
					</div>
				</div>
	<!--
				<div class="pagination">
					<a class="prev" href="#">&larr; Previous</a><br/>
					<a class="next" href="#">Next&rarr;</a>
				</div>
	-->
			</div><!-- end: #project-list -->
		</div><!-- end: #content -->
		<div id="sidebar">
			<div class="section">
				<h2 class="section-title">Our Work</h2>
				<p>In vitae turpis et lorem luctus ullamcorper. Curabitur eu ligula a nunc suscipit luctus. Donec lacinia mattis nisl.</p>
			</div>
			<div id="sliding-container" class="section">
				<div id="side-nextprev">
					<a class="btn-next" href="#">Next<span class="arrow-next"></span></a>
					<a class="btn-prev" href="#"><span class="arrow-prev"></span>Prev</a>
				</div>
				<div id="change-view">
					Change view: <a id="full-view" href="#">Full View</a><a id="thumb-view" href="#">Thumbnail View</a>
				</div>
				<h2 class="section-title">Categories:</h2>
				<ul>
					<li><a class="selected" href="#">Show All</a></li>
					<li><a href="#">Line Art</a></li>
					<li><a href="#">Photography</a></li>
					<li><a href="#">Branding &amp; Identity</a></li>
					<li><a href="#">Print Design</a></li>
					<li><a href="#">Typography</a></li>
				</ul>
			</div>		
		</div><!-- end: #sidebar -->
	</div><!-- end: #main-container -->
</div><!-- end: #content-wrapper -->

<div id="footer-wrapper">
	<div id="footer">
		<div class="col">
			<h3 class="section-title">About</h3>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada. Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Pellentesque accumsan vestibulum nulla in fermentum. Donec lacinia mattis nisl, ut fermentum nunc commodo id.</p>
			<p>Quisque lobortis, ipsum condimentum tempus volutpat, purus dui ultrices arcu, scelerisque dignissim nunc erat.</p>
			<h3 class="section-title">Connect With Us</h3>
			<ul id="socialize">
				<li><a href="#"><img src="images/icons/ico_twitter.png" alt="Twitter" title="Twitter"/></a></li>
				<li><a href="#"><img src="images/icons/ico_fb.png" alt="Facebook" title="Facebook"/></a></li>
				<li><a href="#"><img src="images/icons/ico_digg.png" alt="Digg" title="Digg"/></a></li>
				<li><a href="#"><img src="images/icons/ico_delicious.png" alt="Delicious" title="Delicious"/></a></li>
			</ul>
		</div>
		<div class="col">
			<h3 class="section-title">Flickr</h3>
			<div id="flickr">
				<a href="#"><img src="demo_images/flickr_01.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_02.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_03.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_04.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_05.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_06.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_07.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_08.jpg" alt="" /></a>
			</div>
			<h3 class="section-title">Colophon</h3>
			<div id="colophon">
				<p>Copyright &copy; 2010 All Rights Reserved. Auguste template designed and coded <small>by</small> <a href="http://www.carlofranco.ca">Gian Carlo Franco</a>. Icons <small>by</small> <a href="http://tango.freedesktop.org/Tango_Icon_Library">Tango</a></p>
				<p>Buy this template at <a href="http://www.themeforest.com">Themeforest.com</a></p>
			</div>
		</div>
		<div class="col last">
			<h3 class="section-title">Get in Touch</h3>
			<p id="qc-thanks"></p>
			<form id="quick-contact" method="post" action="qc_form.php" name="quick-contact">
				<fieldset>
					<legend>Please fill in the following form to contact us.</legend>
					<ol>
						<li>
							<label for="qc-name">Name:</label>
							<input id="qc-name" class="input" name="qc-name" type="text" />
						</li>
						<li>
							<label for="qc-email">Email:</label>
							<input id="qc-email" class="input" name="qc-email" type="text"/>
						</li>				
						<li>
							<label for="qc-message">Your Message:</label>
							<textarea id="qc-message" name="qc-message" rows="6" cols="40"></textarea>
						</li>
						<li>
							<input id="qc-submit" type="submit" class="button" value="Send Message"/>
						</li>
					</ol>
				</fieldset>
			</form>
		</div>
	</div><!-- end: #footer -->
</div><!-- end: #footer-wrapper -->
</body>
</html>