<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
	<title>Auguste HTML &mdash; Themeforest.net &mdash; By Carlo Franco</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<meta name="robots" content="all" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="7 days" />
	<meta name="version" content="1.0" />
	<meta name="copyright" content="" />
	<link rel="shortcut icon" href="/favicon.ico" />
	
	<!-- CSS -->
	<link rel="stylesheet" href="style.css" media="screen" type="text/css"/>
	<link rel="stylesheet" href="js/fancybox/jquery.fancybox-1.3.1.css" type="text/css"/>
	
	<!-- Javascript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
	<script src="js/fancybox/jquery.fancybox-1.3.1.pack.js" type="text/javascript"></script>
	<script src="js/jquery.easing-1.3.pack.js" type="text/javascript"></script>
	<script src="js/jquery.cycle.js" type="text/javascript"></script>
	<script src="js/ui.tabs.min.js" type="text/javascript"></script>
	<script src="js/portfolio.js" type="text/javascript"></script>
	<script src="js/scripts.js" type="text/javascript"></script>
	
	<!--[if IE 6]>
	<link href="ie.css" rel="stylesheet" media="screen" type="text/css" />
	<![endif]-->
	
</head>
<body class="portfolio single-project">
<div id="header-wrapper">
	<div id="header">
		<h1>
			<a id="logo" href="index.html" title="Auguste">Auguste</a>
		</h1>
		<div id="nav">
			<ul>
				<li><a class="home" href="index.html">Home</a></li>
				<li class="submenu">
					<a href="#">Templates</a>
					<ul class="dropdown">
						<li><a href="index.html">Home</a></li>
						<li><a href="fullwidth.html">Full Width</a></li>
						<li><a href="blog.html">Blog / Archive</a></li>
						<li><a href="single.html">Blog Single</a></li>	
						<li><a href="page.html">Page</a></li>
						<li><a href="portfolio.html">Portfolio</a></li>	
						<li><a href="portfolio_single.html">Portfolio Single</a></li>
						<li><a href="contact.php">Contact Page</a></li>	
						<li class="submenu">
							<a href="#">Submenu</a>
							<ul class="dropdown">
								<li><a href="#">Subpage 1</a></li>
								<li><a href="#">Subpage 2</a></li>
								<li><a href="#">Subpage 3</a></li>
							</ul>
						</li>
					</ul>				
				</li>
				<li><a class="current" href="portfolio.html">Portfolio</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contact.php">Contact</a></li>
			</ul>
		</div>
	</div><!-- end: #header -->
</div><!-- end: #header-wrapper -->

<div id="content-wrapper">
	<div id="breadcrumb">
		<a href="index.html">Home</a> &rsaquo;
		<a href="portfolio.html">Portfolio</a> &not;
	</div>
	<div id="main-container" class="clearfix">
		<div id="content">
			<div class="hgroup">
				<h4 class="small-title">Category</h4>	
				<h1>How to be a Rockstar Freelancer</h1>
			</div>
			<div id="project-slider">
				<a id="lightbox" href="#"></a>
				<ul class="slides">
					<li><img src="demo_images/project_image2.jpg" alt="" /></li>
					<li><img src="demo_images/project_image.jpg" alt="" /></li>
					<li><img src="demo_images/project_image3.jpg" alt="" /></li>
				</ul>
			</div>
			<div class="project-content">
				<p><span class="dropcap">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque accumsan vestibulum nulla in fermentum. In vitae turpis et lorem luctus ullamcorper. Curabitur eu ligula a nunc suscipit luctus. Vivamus dictum, sapien ut tincidunt gravida, neque leo sodales metus, at dignissim nunc eros non felis. Class aptent taciti sociosqu ad litora torquent.
				</p>
				<p>Fusce non nunc eu felis vestibulum vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque egestas, justo non egestas auctor, felis ipsum suscipit ligula, ut imperdiet ligula tellus at ligula. Donec at velit ipsum, non elementum orci. Aenean at lacus quis tellus semper porttitor sed id mauris.</p>
				<p>Cras blandit massa eget purus suscipit fringilla. Vivamus vehicula sodales tellus, vel tempus eros ornare sed. Nam sapien justo, cursus in fringilla quis, ullamcorper sit amet justo.</p>
				<div class="nextprev clearfix">
					<a class="prev" href="#"><span>Title of Previous Project</span><br/>&larr; Previous Project</a>
					<a class="next" href="#"><span>Title of Next Project</span><br/>Next Project &rarr;</a>
				</div>
			</div><!-- end: project-content -->
			<div class="project-details">
				<dl>
					<dt>Client: </dt>
					<dd>Envato Inc.</dd>
					<dt>Year: </dt>
					<dd>2009</dd>
					<dt>Role: </dt>
					<dd>Designer</dd>
				</dl>
				<h3 class="uppercase-title">I Worked on:</h3>
				<ul class="worked-on">
					<li>Design Slice</li>
					<li>HTML/CSS</li>
					<li>Javascript</li>
					<li>Illustration</li>
					<li>Wordpress CMS</li>
				</ul>
			</div>
			<div class="related-projects">
				<h3 class="uppercase-title">Related Projects</h3>
				<ul>
					<li class="item">
						<a href="#"><img src="demo_images/folio_2_s.jpg" alt="Moo Minicards" title="Moo Minicards" />
						<span>Minicards</span></a>
					</li>
					<li class="item">
						<a href="#"><img src="demo_images/folio_1_s.jpg" alt="How to be a Rockstar Freelancer" title="How to be a Rockstar Freelancer" />
						<span>How to be a Rockstar&hellip;</span></a>
					</li>
					<li class="item">
						<a href="#"><img src="demo_images/folio_7_s.jpg" alt="B&amp;W Photography" title="B&amp;W Photography" />
						<span>Minicards</span></a>
					</li>
					<li class="item">
						<a href="#"><img src="demo_images/folio_3_s.jpg" alt="1000's of Graphic Files" title="1000's of Graphic Files" />
						<span>1000's of Graphic Files</span></a>
					</li>
					<li class="item">
						<a href="#"><img src="demo_images/folio_9_s.jpg" alt="Say it in Print" title="Say it in Print" />
						<span>Say it in Print</span></a>
					</li>
				</ul>
			</div>
		</div><!-- end: #single-project -->
	</div><!-- end: #main-container -->
</div><!-- end: #content-wrapper -->

<div id="footer-wrapper">
	<div id="footer">
		<div class="col">
			<h3 class="section-title">About</h3>
			<p>Pellentesque habitant morbi tristique senectus et netus et malesuada. Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Pellentesque accumsan vestibulum nulla in fermentum. Donec lacinia mattis nisl, ut fermentum nunc commodo id.</p>
			<p>Quisque lobortis, ipsum condimentum tempus volutpat, purus dui ultrices arcu, scelerisque dignissim nunc erat.</p>
			<h3 class="section-title">Connect With Us</h3>
			<ul id="socialize">
				<li><a href="#"><img src="images/icons/ico_twitter.png" alt="Twitter" title="Twitter"/></a></li>
				<li><a href="#"><img src="images/icons/ico_fb.png" alt="Facebook" title="Facebook"/></a></li>
				<li><a href="#"><img src="images/icons/ico_digg.png" alt="Digg" title="Digg"/></a></li>
				<li><a href="#"><img src="images/icons/ico_delicious.png" alt="Delicious" title="Delicious"/></a></li>
			</ul>
		</div>
		<div class="col">
			<h3 class="section-title">Flickr</h3>
			<div id="flickr">
				<a href="#"><img src="demo_images/flickr_01.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_02.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_03.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_04.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_05.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_06.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_07.jpg" alt="" /></a>
				<a href="#"><img src="demo_images/flickr_08.jpg" alt="" /></a>
			</div>
			<h3 class="section-title">Colophon</h3>
			<div id="colophon">
				<p>Copyright &copy; 2010 All Rights Reserved. Auguste template designed and coded <small>by</small> <a href="http://www.carlofranco.ca">Gian Carlo Franco</a>. Icons <small>by</small> <a href="http://tango.freedesktop.org/Tango_Icon_Library">Tango</a></p>
				<p>Buy this template at <a href="http://www.themeforest.com">Themeforest.com</a></p>
			</div>
		</div>
		<div class="col last">
			<h3 class="section-title">Get in Touch</h3>
			<p id="qc-thanks"></p>
			<form id="quick-contact" method="post" action="qc_form.php" name="quick-contact">
				<fieldset>
					<legend>Please fill in the following form to contact us.</legend>
					<ol>
						<li>
							<label for="qc-name">Name:</label>
							<input id="qc-name" class="input" name="qc-name" type="text" />
						</li>
						<li>
							<label for="qc-email">Email:</label>
							<input id="qc-email" class="input" name="qc-email" type="text"/>
						</li>				
						<li>
							<label for="qc-message">Your Message:</label>
							<textarea id="qc-message" name="qc-message" rows="6" cols="40"></textarea>
						</li>
						<li>
							<input id="qc-submit" type="submit" class="button" value="Send Message"/>
						</li>
					</ol>
				</fieldset>
			</form>
		</div>
	</div><!-- end: #footer -->
</div><!-- end: #footer-wrapper -->
</body>
</html>